<html>
  <head>
  <%- partial('_partial/head') %>
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <div class="row">
        <div>
        <%- partial('_partial/header') %>
        </div>
      </div>
      <!-- content -->
      <div class="row">
        <div>
        <%- partial('_partial/content') %>
        </div>
      </div>
      <!-- footer -->
      <div class="row">
        <div>
       <%- partial('_partial/footer') %>
        </div>
      </div>
    </div>
  </body>
</html>